
RewriteEngine On

# Quy tắc để xử lý các URL sạch
RewriteRule ^$ public/index.php [QSA,L]
RewriteRule ^product/list$ public/index.php?controller=product&action=list [QSA,L]
RewriteRule ^product/detail/([0-9]+)$ public/index.php?controller=product&action=detail&id=$1 [QSA,L]
